@import '../../bootstrap-variables';

#div-publicacion {
  .card-text {
    margin-bottom: 0.5rem;
    color: #8b8b8b;
  }

  h2 {
    color: #943c59;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .publicacion-item {
    font-weight: normal;
  }

  .date {
    color: #8b8b8b;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .summary {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0.75rem;
    font-size: 1rem;
  }

  .close {
    font-size: 1.5rem;
    border: none;
    padding: 3px 8px 0px 8px;
  }
}
