@import '../../bootstrap-variables';

#div-oferta-empleo {
  h2 {
    color: #943c59;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .icon {
    color: $gray-500;
  }

  .oferta-item {
    margin-bottom: 0.75rem;
    font-weight: normal;
  }

  .caret {
    top: 50%;
    position: absolute;
    margin-top: -0.75rem;
  }

  .close {
    font-size: 1.5rem;
    border: none;
    padding: 3px 8px 0px 8px;
  }
}
